<h1>Update Recipe</h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  Name: <input type="text" id="name" name="name">
  <input type="submit" value="update">
</form>
